SUBSYSTEM=="input", SUBSYSTEMS=="usb", ATTRS{bInterfaceClass}=="03", ATTRS{bInterfaceProtocol}=="01", ACTION=="add", RUN+="/sbin/insmod /lib/modules/hello-world-kmod.ko"
